.tab{
  background-color: red;
  width: 200px;
  text-align: center;
  color: white;
}

#up:first-letter{
	text-transform:uppercase;
}

#up{
	text-transform:lowercase
}

#nume{
	text-align: center;
}

#num{
	text-align: right;
}

